@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

body {
    margin :0px;
    
}

.middle {
    width : 100%;
    max-height: 100vh;
}

.clud_img_ct {
        /* position: relative; */
        width: 100%;
        height: 100vh; /* 화면 높이에 맞춤 */
        background-image: url('img/clud_if_img.svg'); /* 배경 이미지 */
        background-size: 100% auto;
        background-repeat: no-repeat;  
    
}

.clud_img_ct img {
    width:100%;
    height: auto;
}

.clud_it_nv {
    display : flex;
    justify-content: center;
    gap : 1em;
    margin-top: 2em;
}

.clud_it_nv div{
    color: #818181;
    font-family: 'Pretendard-Regular';
    font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.66px;
}

.introduce:hover, .activity:hover {
    color: #FFF;
    font-family: 'Pretendard-Regular';
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.66px;
cursor: pointer;
}

.cute_cat_ct {
    justify-self:right;
    align-content: flex-end;
}



.about {
    color: #FFF;
    font-family: 'Pretendard-Regular';
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.96px;
}

.about_ct {
    display :flex;
    flex-direction: row;
    align-items: center;
    gap : 0.3em;
}

.lion_ig {
    color: #FF7710;
    font-family: 'Pretendard-Regular';
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.35px;
}

.my_idea, .go_to_world {
    color: #FF7710;
    font-family: 'Pretendard-Regular';
font-size: 29px;
font-style: normal;
font-weight: 600;
line-height: 201%; /* 58.29px */
letter-spacing: -0.87px;
}

.my_idea_under, .go_to_world_under {
    color: #F6F6F6;
    font-family: 'Pretendard-Regular';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 201%; /* 48.24px */
letter-spacing: -0.72px;
}


.cute_cat_ct {
    width:100%;
    align-content: center;
}

.cute_cat_ct img {
    width:100%;
    height: auto;
}

.middle_contant {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* 화면 높이 맞춤 */
    background-image: url('img/clud_if_img.svg'); /* 배경 이미지 */
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.con_left_ct {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-left : 3em;
}

.cute_cat_ct {
    width: 50%; 
    display: flex;
    justify-content: flex-end; 
    align-self: flex-end; 
}

.cute_cat_ct img {
    width: 80%;
    height: auto;
}
