@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: black;
}

.main {
    max-height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;

}

.content {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    color: #FF7710;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
}

.semi_content {
    font-family: 'Pretendard-Regular';
    color: #8B8B8B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.45px;
}

.assign_lion {
    width: 102px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF801F;
    color: #FFF;
    font-family: 'Pretendard-Regular';
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px;
}

.top_nv {
    height : 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
}

.left_nv {
    display :flex;
    flex-direction: row;
    gap : 2em;
    align-items: baseline;
}

.right_nv{
    display :flex;
    flex-direction: row;
    gap : 3.5em;
    align-items: baseline;

}
.welcome,.lion {
    cursor:default;
    /* padding: 10px; */
    display: flex; 
    text-align: center;
    flex-direction: column;  
    position: relative; 
    color: #CFCFCF;
    font-family: 'Pretendard-Regular';
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px; 
}

.dropdown {
    display: none;  
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top:20%;
    list-style: none;
    position: absolute; 
    top: 150%;  
    left: 0;
    width: 100%; 
    z-index:3;
    background-color: black; 
}

.dropdown li {
    padding-top: 10%;
    padding-bottom: 10%;
}

.dropdown li a {
    color: #CFCFCF;
font-family: 'Pretendard-Regular';
font-size: 0.9em;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.6px;
    text-decoration: none;
    display: block;
}


.right_nv .welcome:hover .dropdown, .right_nv .lion:hover .dropdown {
    display: flex; 
}

.slider-container {
    width: 100%;
    margin-top : 4%;
}

.slider {
    display: flex;
    scroll-snap-type:x mandatory; 
    overflow-x: auto;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;  
}


.slide {
    flex: 0 0 100%; 
    scroll-snap-align: start;  
}

.slide img {
    width: 100%;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 스타일 */
.slide-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 이미지 위에 표시될 텍스트 */
.slide-text {
    display : flex;
    flex-direction: column;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    gap : 0.4em;
    z-index:2;
}
.img1_log {
    width:9% !important;
    object-fit: contain !important;
}

.img1_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 1.5em;
}

.img2_lion {
    color: #FFF;
    font-family: 'Pretendard-Regular';
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 69.887px; /* 174.718% */
letter-spacing: -1.2px;
}

.img2-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.76) 100%);
    z-index: 1;
}

.img2 {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 0;
}


.mungu {
    color: #FF7710;
    font-family: 'Pretendard-Regular';
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 69.887px; /* 174.718% */
letter-spacing: -1.2px;
margin-bottom : 4%;


}

.text {
    color: #FFF;
text-align: center;
font-family: 'Pretendard-Regular';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 250% */
letter-spacing: -0.48px;
}
.indicator-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap : 0.5em;
}

.indicator {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff801f;
}

.img3_mungu {
    color: #FFF;
    font-family: 'Pretendard-Regular';
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.2px;
}

.today {
    color: #FF801F;
    font-family: 'Pretendard-Regular';
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.2px;
}

.img3_ct {
    display: flex;
    flex-direction: column;
    gap : 1em;
}

.img3_under {
    color: #C2C2C2;
    font-family: 'Pretendard-Regular';
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.9px;
margin-bottom: 5%;
}

.slide-contents {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:end;
}