@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

::-webkit-scrollbar {
    display :none;
}

body {
    background-color: black;
}

.main {
    max-height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;

}

.content {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    color: #FF7710;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
}

.semi_content {
    font-family: 'Pretendard-Regular';
    color: #8B8B8B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.45px;
}

.assign_lion {
    width: 102px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF801F;
    color: #FFF;
    font-family: 'Pretendard-Regular';
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px;
}

.top_nv {
    height : 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
}

.left_nv {
    display :flex;
    flex-direction: row;
    gap : 2em;
    align-items: baseline;
}

.right_nv{
    display :flex;
    flex-direction: row;
    gap : 3.5em;
    align-items: baseline;

}
.welcome,.lion {
    cursor:default;
    /* padding: 10px; */
    display: flex; 
    text-align: center;
    flex-direction: column;  
    position: relative; 
    color: #CFCFCF;
    font-family: 'Pretendard-Regular';
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px; 
    padding-bottom: 5%;
}

.dropdown {
    display: none;  
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* margin-top:20%;  */
    list-style: none;
    position: absolute; 
    top: 100%;  
    left: 0;
    width: 100%; 
    z-index:3;
    background-color: black; 
}

.dropdown li {
    padding-top: 10%;
    padding-bottom: 10%;
}

.dropdown li a {
    color: #CFCFCF;
font-family: 'Pretendard-Regular';
font-size: 0.9em;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.6px;
    text-decoration: none;
    display: block;
}

.content a {
    color : #FF7710;
    text-decoration: none;
    /* display: block; */
}

.right_nv .welcome:hover .dropdown, 
.right_nv .lion:hover .dropdown, 
.right_nv .welcome .dropdown:hover, 
.right_nv .lion .dropdown:hover {
    display: flex; 
}

a {
    text-decoration: none;
}